{% extends 'padre.html' %}

{% load static %}

{% block bloqueQueCambia %}

    <h1>Pantalla de Inicio</h1>
    
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, 
    deleniti delectus dignissimos ex possimus cupiditate est provident cum ab rerum mollitia facere qui quaerat velit maiores doloribus veritatis dicta tempore?
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et hic fugit error nulla voluptate libero laborum consequuntur distinctio? 
    Deserunt, vero ea! Autem ipsum iste ad non, aliquid dicta sequi minima!</p>

{% endblock bloqueQueCambia %}